#!/usr/bin/make -f
#
# Debian rules file for rc. Re-written by Dale Scheetz from that provided by
# Mark Baker, loosely based on the (old source format) one by Ian Murdock.

package = rc

build:
	$(checkdir)
	./configure --prefix=/usr --with-readline --with-addon
	make
	touch build

clean:
	$(checkdir)
	-rm -f build
	if [ -f Makefile ] ; then make distclean ; fi
	-rm -rf *~ debian/*~ debian/tmp debian/substvars* debian/files*

binary-indep: checkroot build
	# No binary-independent packages to build

binary-arch: checkroot build
	-rm -rf debian/tmp
	# First create directories
	install -d debian/tmp/DEBIAN
	install -d debian/tmp/usr/bin
	install -d debian/tmp/usr/man/man1
	install -d debian/tmp/usr/doc/rc
	# Copy files
	install -s rc debian/tmp/usr/bin
	install -m 644 rc.1 debian/tmp/usr/man/man1
	gzip -9v debian/tmp/usr/man/man1/rc.1
	# Install documentation
	install -m 644 README EXAMPLES debian/tmp/usr/doc/rc
	install -m 644 ChangeLog debian/tmp/usr/doc/rc/changelog
	install -m 644 debian/changelog debian/tmp/usr/doc/rc/changelog.Debian
	gzip -9v debian/tmp/usr/doc/rc/*
	install -m 644 debian/copyright debian/tmp/usr/doc/rc
	# Standard package building stuff
	dpkg-shlibdeps debian/tmp/usr/bin/rc
	dpkg-gencontrol -prc
	chown -R root.root debian/tmp
	chmod -R g-ws debian/tmp
	dpkg --build debian/tmp ..

define checkdir
        test -f main.c -a -f debian/rules
endef

binary: binary-indep binary-arch

checkroot:
	$(checkdir)
	test root = "`whoami`"

.PHONY: binary binary-arch binary-indep clean checkroot
